---
import imageFirstViewScreenshotSm from "../assets/first-view-screenshot-sm.webp";
import imageFirstViewScreenshot from "../assets/first-view-screenshot.webp";
---

<div class="container">
  <article class="container-inner">
    <section class="main">
      <h1 class="main-title">blog</h1>
      <p class="main-description">
        新しいものを使ってみる、難しいものを紐解く、そしてそれらを記録する
      </p>
      <a
        href="https://jamband.github.io/blog/"
        class="main-link"
        target="_blank"
        rel="noreferrer">Go to blog</a
      >
    </section>
    <div class="screenshot-container">
      <img
        src={imageFirstViewScreenshotSm}
        width="379"
        height="674"
        class="screenshot-sm"
        alt="screenshot for mobile phone"
      />
      <img
        src={imageFirstViewScreenshot}
        width="1373"
        height="1069"
        class="screenshot"
        alt="screenshot for pc"
      />
    </div>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
  }

  .container-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 95dvh;
    justify-content: center;
    padding: 3rem 1rem;
  }

  @media (width >= 1024px) {
    .container-inner {
      flex-direction: row;
      margin: 0 auto;
      max-width: 1536px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  @media (width >= 1024px) {
    .main {
      flex: 1;
    }
  }

  .main-title {
    color: rgb(var(--gray-100));
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.2;
  }

  @media (width >= 768px) {
    .main-title {
      font-size: 3rem;
    }
  }

  .main-description {
    line-height: 1.85;
  }

  .main-link {
    align-self: center;
    background: rgb(var(--gray-400) / 10%);
    border: 2px solid rgb(var(--gray-400) / 80%);
    border-radius: 0.5rem;
    box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
    color: rgb(var(--gray-100));
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 0.75rem 1.25rem;
  }

  .main-link:active {
    background: rgb(var(--gray-400) / 15%);
  }

  @media (hover: hover) and (pointer: fine) {
    .main-link:hover {
      background: rgb(var(--gray-400) / 15%);
    }
  }

  .screenshot-container {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    position: relative;
  }

  @media (width >= 768px) {
    .screenshot-container {
      margin: 0 10rem;
    }
  }

  @media (width >= 1024px) {
    .screenshot-container {
      flex: 1;
      margin: 0 2rem;
    }
  }

  .screenshot-sm,
  .screenshot {
    background: rgb(var(--gray-800));
    border: 1px solid rgb(var(--gray-400) / 20%);
    border-radius: 0.25rem;
  }

  .screenshot-sm {
    bottom: -5%;
    left: -5%;
    max-width: 25%;
    position: absolute;
  }
</style>
