<div class="container">
  <article class="container-inner">
    <h2 class="title">Timeline</h2>
    <div class="section-container">
      <section class="section">
        <h3 class="section-date">2023-02 -</h3>
        <ul class="section-list">
          <li class="section-list-item">
            Web Frontend を Next.js から Astro にリプレイス
          </li>
        </ul>
      </section>
      <section class="section">
        <h3 class="section-date">2021-08 - 2023-01</h3>
        <ul class="section-list">
          <li class="section-list-item">
            Web Frontend を Nuxt から Next.js にリプレイス
          </li>
          <li class="section-list-item">
            ホスティング先を Netlify から GitHub Pages にリプレイス
          </li>
        </ul>
      </section>
      <section class="section">
        <h3 class="section-date">2020-06 - 2021-07</h3>
        <ul class="section-list">
          <li class="section-list-item">Web Frontend に Nuxt を使用</li>
          <li class="section-list-item">ホスティング先として Netlify を使用</li>
        </ul>
      </section>
      <section class="section">
        <h3 class="section-date">2020-06</h3>
        <ul class="section-list">
          <li class="section-list-item">リリース & コードを GitHub に公開</li>
        </ul>
      </section>
    </div>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
  }

  .container-inner {
    padding: 6rem 1rem;
  }

  @media (min-width: 768px) {
    .container-inner {
      margin: 0 auto;
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container-inner {
      max-width: 1024px;
    }
  }

  .title {
    color: rgb(var(--gray-100));
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }

  .section {
    border-left: 2px solid rgb(var(--gray-400) / 80%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
  }

  .section-list-item {
    line-height: 1.85;
  }

  .section-date {
    align-self: flex-start;
    background: rgb(var(--gray-400) / 10%);
    border: 1px solid rgb(var(--gray-400) / 20%);
    border-radius: 0.5rem;
    color: rgb(var(--gray-100));
    font-family: var(--font-mono);
    font-size: 0.975rem;
    line-height: 1.3;
    padding: 0.25rem 0.75rem;
  }
</style>
