---
import IconCode from "@/icons/icon-code.astro";
import IconGithub from "@/icons/icon-github.astro";
---

<div class="container">
  <article class="container-inner">
    <section class="header">
      <h2 class="header-title">Technology Stack</h2>
      <p class="header-description">
        denene
        の技術スタックを紹介します。以下のリストは現在のものであって、時間とともに変化していく可能性があります
      </p>
    </section>
    <div class="separator" role="separator">
      <IconCode class="separator-icon" />
    </div>
    <article class="main">
      <section>
        <h3 class="main-title">Web Frontend</h3>
        <ul class="main-tags">
          <li class="main-tag">TypeScript</li>
          <li class="main-tag">Astro</li>
          <li class="main-tag">Prettier</li>
        </ul>
      </section>
      <section>
        <h3 class="main-title">Others</h3>
        <ul class="main-tags">
          <li class="main-tag">GitHub Actions</li>
          <li class="main-tag">GitHub Pages</li>
        </ul>
      </section>
    </article>
    <section class="footer">
      <p class="footer-description">
        denene のコードはオープンソースとして GitHub
        で管理しています。より詳しい内容については以下のリンクから見ることができます
      </p>
      <a
        href="https://github.com/jamband/denene"
        class="footer-link"
        target="_blank"
        rel="noreferrer"><IconGithub class="footer-link-icon" />Web Frontend</a
      >
    </section>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
    padding: 6rem 0;
  }

  .container-inner {
    margin: 0 auto;
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    .container-inner {
      max-width: 1024px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    text-align: center;
  }

  .header-title {
    color: rgb(var(--gray-100));
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.75rem;
    margin-bottom: 2rem;
  }

  .header-description {
    margin-bottom: 3rem;
  }

  @media (min-width: 768px) {
    .header-description {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1024px) {
    .header-description {
      padding: 0 8rem;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .separator-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  .main {
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }

  @media (min-width: 768px) {
    .main {
      gap: 4rem 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: 4rem;
    }
  }

  .main-title {
    color: rgb(var(--gray-100));
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 1.25rem;
  }

  .main-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    .main-tags {
      margin-bottom: 0;
    }
  }

  .main-tag {
    background: rgb(var(--gray-400) / 10%);
    border: 1px solid rgb(var(--gray-400) / 20%);
    border-radius: 0.125rem;
    color: rgb(var(--gray-100));
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.4rem 1rem;
  }

  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
  }

  .footer-description {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }

  @media (min-width: 768px) {
    .footer-description {
      padding: 0 4rem;
    }
  }

  @media (min-width: 1024px) {
    .footer-description {
      padding: 0 4rem;
    }
  }

  .footer-link {
    align-items: center;
    background: rgb(var(--gray-400) / 10%);
    border: 2px solid rgb(var(--gray-400) / 80%);
    border-radius: 0.125rem;
    box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
    color: rgb(var(--gray-100));
    column-gap: 0.3rem;
    display: inline-flex;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  .footer-link:active {
    background: rgb(var(--gray-400) / 15%);
  }

  @media (hover: hover) and (pointer: fine) {
    .footer-link:hover {
      background: rgb(var(--gray-400) / 15%);
    }
  }

  .footer-link-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
</style>
