.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  padding: 6rem 1rem;
}

@media (min-width: 768px) {
  .containerInner {
    margin: 0 auto;
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .containerInner {
    max-width: 1024px;
  }
}

.title {
  align-items: center;
  color: rgb(var(--gray-100));
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  gap: 0.5rem;
  justify-content: center;
}

.titlePrefix {
  color: rgb(var(--rose-500));
  font-size: 2rem;
  font-weight: 900;
}

.timeline {
  display: flex;
  flex-flow: column;
  margin: 6rem 0 0;
}

.timelineList {
  display: flex;
  gap: 1.5rem;
  position: relative;
}

.timelineDate {
  align-self: flex-start;
  font-family: var(--font-mono);
  font-size: 0.975rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  width: 80px;
}

@media (min-width: 768px) {
  .timelineDate {
    width: 100px;
  }
}

.timelineContent {
  border-left: 2px solid rgb(var(--rose-500) / 50%);
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 0 0 3rem 2.5rem;
}

.timelineList:last-child .timelineContent {
  padding: 0 0 0 2.5rem;
}

.timelineContent::before {
  background: rgb(var(--rose-500));
  border-radius: 9999px;
  content: "";
  height: 10px;
  left: 100px;
  position: absolute;
  top: 8px;
  width: 10px;
}

@media (min-width: 768px) {
  .timelineContent::before {
    left: 120px;
  }
}
