.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  padding: 6rem 1rem;
}

@media (min-width: 768px) {
  .containerInner {
    margin: 0 auto;
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .containerInner {
    max-width: 1024px;
  }
}

.title {
  color: rgb(var(--gray-100));
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.titleDecoration {
  display: inline-flex;
  gap: 0.5rem;
  height: 1.5rem;
  margin: 0 0.25rem 0 0;
  vertical-align: middle;
}

.titleDecoration::before {
  background: rgb(var(--rose-500));
  content: "";
  height: 1.25rem;
  transform: rotate(20deg);
  width: 0.25rem;
}

.titleDecoration::after {
  background: rgb(var(--rose-500));
  content: "";
  height: 1.25rem;
  transform: rotate(20deg);
  width: 0.25rem;
}

.timeline {
  border-left: 1px solid rgb(var(--rose-500) / 50%);
  display: flex;
  flex-flow: column;
  gap: 3rem;
  margin: 6rem 1rem 0;
  padding: 0 0 0 2rem;
}

@media (min-width: 768px) {
  .timeline {
    margin: 6rem 0;
  }
}

.timelineList {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  position: relative;
}

.timelineDate {
  align-self: flex-start;
  background: rgb(var(--gray-700));
  border-radius: 0.25rem;
  font-family: var(--font-mono);
  font-size: 0.975rem;
  line-height: 1.3;
  padding: 0.4rem 0.8rem;
  position: relative;
}

.timelineDate::before {
  background: rgb(var(--rose-500));
  border-radius: 99rem;
  content: "";
  height: 0.75rem;
  inset: 0;
  position: absolute;
  transform: translate(-322%, 78%);
  width: 0.75rem;
}

.timelineContent {
  color: rgb(var(--gray-100));
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}
