.container {
  background: rgb(var(--gray-800));
  border-top: 5px solid rgb(var(--pink-500) / 70%);
  padding: 1rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menuButton {
  align-items: center;
  border-radius: 0.25rem;
  color: rgb(var(--gray-100) / 70%);
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem 0.75rem;
}

@media (min-width: 768px) {
  .menuButton {
    padding: 0.75rem 1rem;
  }
}

.menuButton:active {
  background: rgb(var(--gray-700));
  color: rgb(var(--gray-100));
}

@media (hover: hover) and (pointer: fine) {
  .menuButton:hover {
    background: rgb(var(--gray-700));
    color: rgb(var(--gray-100));
  }
}

.menuButtonIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.dialog {
  background: rgb(var(--gray-800));
  border: 1px solid rgb(var(--gray-400) / 10%);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 85%;
}

@media (min-width: 768px) {
  .dialog {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .dialog {
    width: 25%;
  }
}

.dialogInner {
  padding-bottom: 2rem;
}

.dialogHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}

.dialogHeaderClose {
  color: rgb(var(--gray-100) / 70%);
  cursor: pointer;
}

.dialogHeaderClose:active {
  color: rgb(var(--gray-100));
}

@media (hover: hover) and (pointer: fine) {
  .dialogHeaderClose:hover {
    color: rgb(var(--gray-100));
  }
}

.dialogHeaderCloseIcon {
  height: 1.5rem;
  vertical-align: -0.3em;
  width: 1.5rem;
}

.dialogMain {
  display: grid;
  place-items: center;
}

.dialogMainLink {
  align-items: center;
  box-shadow: 0 2px 0 0 rgb(var(--gray-400) / 70%);
  color: rgb(var(--gray-400));
  display: inline-flex;
  font-weight: bold;
  gap: 0.25rem;
  line-height: 1.5;
}

.dialogMainLink:active {
  color: rgb(var(--gray-100));
}

@media (hover: hover) and (pointer: fine) {
  .dialogMainLink:hover {
    color: rgb(var(--gray-100));
  }
}

.dialogMainLinkIcon {
  height: 1rem;
  width: 1rem;
}
