---
import "./base.css";

import Layout from "@/layouts/layout.astro";
import FirstView from "./sections/first-view.astro";
---

<Layout title="ページが見つかりませんでした">
  <main>
    <FirstView />
  </main>
</Layout>
