---
import IconArrowDown from "@/icons/icon-arrow-down.astro";
---

<div class="container">
  <article class="container-inner">
    <h1 class="title">About<br />me</h1>
    <p class="description">
      音楽と歩くことが好きな Web Developer
      です。ここでは、わたしが作ったものの一部を紹介しています。よろしければ、続きをお読みください
    </p>
    <a href="#repositories" class="link" aria-label="続きを読む"
      ><IconArrowDown class="link-icon" /></a
    >
    <p class="link-description">続きを読む</p>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
    display: grid;
    height: 100dvh;
    place-items: center;
    text-align: center;
  }

  .container-inner {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 1rem;
  }

  .title {
    color: rgb(var(--gray-100));
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1.75rem;
  }

  .description {
    margin-bottom: 4rem;
  }

  @media (min-width: 768px) {
    .description {
      padding: 0 2rem;
    }
  }

  .link {
    align-items: center;
    background: rgb(var(--sky-500) / 10%);
    border: 1px solid rgb(var(--sky-500) / 20%);
    border-radius: 9999px;
    color: rgb(var(--sky-500));
    display: inline-flex;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }

  .link:active {
    background: rgb(var(--sky-500) / 20%);
    border: 1px solid rgb(var(--sky-500) / 30%);
  }

  @media (hover: hover) and (pointer: fine) {
    .link:hover {
      background: rgb(var(--sky-500) / 20%);
      border: 1px solid rgb(var(--sky-500) / 30%);
    }
  }

  .link-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  .link-description {
    color: rgb(var(--sky-500) / 80%);
    font-size: 0.85rem;
  }
</style>
