<div class="container">
  <footer class="container-inner">
    <h2 class="title">Other Links</h2>
    <ul class="list" aria-label="その他のリンク">
      <li>
        <a
          href="https://twitter.com/livejam_db"
          class="list-item"
          target="_blank"
          rel="noreferrer">Twitter</a
        >
      </li>
      <li>
        <a
          href="https://zenn.dev/jamband"
          class="list-item"
          target="_blank"
          rel="noreferrer">Zenn</a
        >
      </li>
      <li>
        <a
          href="https://qiita.com/livejam_db"
          class="list-item"
          target="_blank"
          rel="noreferrer">Qiita</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/users/678947/jamband"
          class="list-item"
          target="_blank"
          rel="noreferrer">Stack Overflow</a
        >
      </li>
    </ul>
    <p class="copyright">© {new Date().getFullYear()} Tomoki Morita</p>
  </footer>
</div>

<style>
  .container {
    background: rgb(var(--gray-800));
    border-top: 2px solid rgb(var(--gray-400) / 10%);
  }

  .container-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px;
    padding: 1.25rem 1rem;
  }

  .title {
    color: rgb(var(--gray-100));
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .list {
    display: flex;
    gap: 1rem;
  }

  @media (width >= 768px) {
    .list {
      gap: 1.5rem;
    }
  }

  .list-item {
    box-shadow: 0 2px 0 0 rgb(var(--sky-500) / 50%);
    color: rgb(var(--sky-500));
  }

  .copyright {
    color: rgb(var(--gray-400) / 80%);
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
</style>
