---
import IconCode from "@/icons/icon-code.astro";
import IconGithub from "@/icons/icon-github.astro";
import IconUpRightFromSquare from "@/icons/icon-up-right-from-square.astro";
---

<div class="container">
  <article class="container-inner">
    <header class="header">
      <h2 class="header-title">Other Repositories</h2>
      <p class="header-description">
        ユーティリティ系のツールやデモアプリケーションなどが含まれています。技術的な詳細については以下の外部リンクから見ることができます
      </p>
    </header>
    <div class="separator" role="separator">
      <IconCode class="separator-icon" />
    </div>
    <article class="main">
      <section>
        <h3 class="main-name">
          <a
            href="https://github.com/jamband/ripple"
            class="main-link"
            target="_blank"
            rel="noreferrer"
            >ripple <IconUpRightFromSquare class="main-link-icon" /></a
          >
        </h3>
        <p class="main-description">
          特定の URL からアーティースト名やタイトル、ID
          や画像などの情報を取得するユーティリティツール。YouTube や
          SoundCloud、Vimeo、Bandcamp などをサポートしている
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a
            href="https://github.com/jamband/maytalz"
            class="main-link"
            target="_blank"
            rel="noreferrer"
            >Maytalz <IconUpRightFromSquare class="main-link-icon" /></a
          >
        </h3>
        <p class="main-description">
          Nuxt と Contentful を使った Jamstack なブログのデモサイト。Headless
          CMS や最新バージョンの Nuxt の動作を確認するときにも使用している
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a
            href="https://github.com/jamband/suerte"
            class="main-link"
            target="_blank"
            rel="noreferrer"
            >suerte <IconUpRightFromSquare class="main-link-icon" /></a
          >
        </h3>
        <p class="main-description">
          Next.js と Bootstrap 構成での Storybook
          の作成と公開をしているリポジトリ。Storybook
          とその周辺ツールの動作を確認するときにも使用している
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a
            href="https://github.com/jamband/papers"
            class="main-link"
            target="_blank"
            rel="noreferrer"
            >Papers <IconUpRightFromSquare class="main-link-icon" /></a
          >
        </h3>
        <p class="main-description">
          Laravel
          を使って認証関連の複雑な実装を確認するために作ったリポジトリ。React
          などを使わない場合の Blade
          テンプレートやアセット周辺の動作確認にも使用している
        </p>
      </section>
    </article>
    <footer class="footer">
      <p class="footer-description">
        その他のリポジトリに関しては以下をご覧ください
      </p>
      <a
        href="https://github.com/jamband?tab=repositories"
        class="footer-link"
        target="_blank"
        rel="noreferrer"><IconGithub class="footer-link-icon" />Repositories</a
      >
    </footer>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
  }

  .container-inner {
    margin: 0 auto;
    max-width: 1024px;
    padding: 6rem 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
  }

  .header-title {
    color: rgb(var(--gray-100));
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .header-description {
    line-height: 1.85;
  }

  @media (width >= 768px) {
    .header-description {
      padding: 0 5rem;
    }
  }

  @media (width >= 1024px) {
    .header-description {
      padding: 0 10rem;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .separator-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  .main {
    display: grid;
    gap: 3rem;
    margin-top: 3rem;
  }

  @media (width >= 768px) {
    .main {
      gap: 4rem 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 2rem;
    }
  }

  .main-name {
    color: rgb(var(--gray-100));
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .main-link {
    align-items: center;
    display: inline-flex;
    gap: 0.5rem;
  }

  @media (hover: hover) and (pointer: fine) {
    .main-link:hover {
      color: rgb(var(--sky-500));
    }
  }

  .main-link-icon {
    color: rgb(var(--sky-500));
    height: 0.85rem;
    width: 0.85rem;
  }

  .main-description {
    line-height: 1.85;
    margin-top: 0.5rem;
  }

  .footer {
    margin-top: 5rem;
    text-align: center;
  }

  .footer-description {
    line-height: 1.85;
  }

  .footer-link {
    align-items: center;
    background: rgb(var(--sky-500) / 20%);
    border: 1px solid rgb(var(--sky-500) / 40%);
    border-radius: 0.5rem;
    box-shadow: 0 14px 32px -12px rgb(var(--sky-500) / 30%);
    color: rgb(var(--sky-500));
    display: inline-flex;
    font-weight: bold;
    gap: 0.4rem;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
  }

  .footer-link:active {
    background: rgb(var(--sky-500) / 30%);
    border: 1px solid rgb(var(--sky-500) / 50%);
  }

  @media (hover: hover) and (pointer: fine) {
    .footer-link:hover {
      background: rgb(var(--sky-500) / 30%);
      border: 1px solid rgb(var(--sky-500) / 50%);
    }
  }

  .footer-link-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
</style>
