<div id="repositories" class="container">
  <article class="container-inner">
    <header class="header">
      <h2 class="header-title">Repositories</h2>
      <p class="header-description">
        書いたコードの一部は GitHub
        にて公開しています。アーカイブ化されていないすべてのリポジトリは、わたしがそこから離れていくまで、ずっと保守していきます。技術的な詳細については以下のリンクから見ることができます
      </p>
    </header>
    <div class="separator" role="separator">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 512"
        fill="currentColor"
        class="separator-icon"
        role="img"
        aria-hidden="true"
      >
        <path
          d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
        ></path>
      </svg>
    </div>
    <article class="main">
      <section>
        <h3 class="main-name">
          <a href="/about/plusarchive/" class="main-link"
            >PlusArchive
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="main-link-icon"
              role="img"
              aria-hidden="true"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              ></path>
            </svg>
          </a>
        </h3>
        <p class="main-description">
          インターネット上にアップロードされているプロモーション用の音楽を集めたサイト。世界中の音楽に耳を澄まし、それを記録していく
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a href="/about/tapes/" class="main-link"
            >tapes
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="main-link-icon"
              role="img"
              aria-hidden="true"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              ></path>
            </svg>
          </a>
        </h3>
        <p class="main-description">
          月一でよく聴いている音楽を、特定のアーティストやジャンルに絞って数曲ずつ公開しているサイト。その月に聴いた音楽、その年に聴いた音楽を記録する
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a href="/about/blog/" class="main-link"
            >blog
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="main-link-icon"
              role="img"
              aria-hidden="true"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              ></path>
            </svg>
          </a>
        </h3>
        <p class="main-description">
          技術的な記事をまとめたブログサイト。わたし個人のアウトプットの場であり、ドキュメントでもある。記事は書き捨てではなく、コードと同じようにできる限り更新していく
        </p>
      </section>
      <section>
        <h3 class="main-name">
          <a href="/about/denene/" class="main-link"
            >denene
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              fill="currentColor"
              class="main-link-icon"
              role="img"
              aria-hidden="true"
            >
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
              ></path>
            </svg>
          </a>
        </h3>
        <p class="main-description">
          「控えめな Web」をテーマに、HTML と CSS、そしてほんの少しの JavaScript
          で何ができるかを確認する個人的な Web サイト。Web
          におけるセマンティクスやアクセシビリティの実験の場でもある
        </p>
      </section>
    </article>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
    padding: 6rem 0;
  }

  .container-inner {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header-title {
    color: rgb(var(--gray-100));
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .header-description {
    margin-bottom: 3rem;
  }

  @media (min-width: 764px) {
    .header-description {
      padding: 0 5rem;
    }
  }

  @media (min-width: 1024px) {
    .header-description {
      padding: 0 10rem;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .separator-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  .main {
    display: grid;
    row-gap: 3rem;
  }

  @media (min-width: 768px) {
    .main {
      gap: 4rem 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 2rem;
    }
  }

  .main-name {
    color: rgb(var(--gray-100));
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2rem;
    margin-bottom: 1.25rem;
  }

  .main-link {
    align-items: center;
    column-gap: 0.5rem;
    display: inline-flex;
  }

  @media (hover: hover) and (pointer: fine) {
    .main-link:hover {
      color: rgb(var(--sky-500));
    }
  }

  .main-link-icon {
    color: rgb(var(--sky-500));
    height: 1rem;
    width: 1rem;
  }
</style>
