.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: center;
  padding: 2rem 1rem 4rem;
}

@media (min-width: 768px) {
  .containerInner {
    padding: 4rem 1rem 8rem;
  }
}

@media (min-width: 1024px) {
  .containerInner {
    flex-flow: row;
    gap: 5rem;
    margin: 0 auto;
    max-width: 1096px;
    padding: 8rem 1rem 15rem;
  }
}

@media (min-width: 1536px) {
  .containerInner {
    max-width: 1420px;
    padding: 10rem 1rem 16rem;
  }
}

.main {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .main {
    flex: 1;
  }
}

.mainTitle {
  color: rgb(var(--gray-100));
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .mainTitle {
    font-size: 3rem;
  }
}

.mainTitleDecoration {
  display: inline-flex;
  gap: 0.5rem;
  height: 2rem;
  margin: 0 0.25rem 0 0;
  vertical-align: middle;
}

.mainTitleDecoration::before {
  background: rgb(var(--pink-500));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainTitleDecoration::after {
  background: rgb(var(--pink-500));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainDescription {
  line-height: 1.85;
}

.mainLink {
  align-self: center;
  background: rgb(var(--gray-400) / 10%);
  border: 2px solid rgb(var(--gray-400) / 80%);
  border-radius: 0.5rem;
  box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
  color: rgb(var(--gray-100));
  font-weight: bold;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
}

@media (any-hover: hover) {
  .mainLink:hover {
    background: rgb(var(--gray-400) / 15%);
  }
}

.mainLink:active,
.mainLink:focus-visible {
  background: rgb(var(--gray-400) / 15%);
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  position: relative;
}

@media (min-width: 768px) {
  .screenshotContainer {
    margin: 0 10rem;
  }
}

@media (min-width: 1024px) {
  .screenshotContainer {
    flex: 1;
    margin: 0 2rem;
  }
}

.screenshotSm,
.screenshot {
  background: rgb(var(--gray-800));
  border: 1px solid rgb(var(--gray-400) / 20%);
  border-radius: 0.25rem;
}

.screenshotSm {
  bottom: -5%;
  left: -5%;
  max-width: 25%;
  position: absolute;
}
