---
import { Layout } from "@/layouts/layout";
import { FirstView } from "../sections/first-view";
import styles from "./styles.module.css";
---

<Layout title="ページが見つかりませんでした">
  <main class={styles.container}>
    <div class={styles.containerInner}>
      <FirstView />
    </div>
  </main>
</Layout>
