---
import "./base.css";

import Layout from "@/layouts/layout.astro";
import FirstView from "./sections/first-view.astro";
import Footer from "./sections/footer.astro";
import OtherRepositories from "./sections/other-repositories.astro";
import Repositories from "./sections/repositories.astro";
---

<Layout>
  <main>
    <FirstView />
    <Repositories />
    <OtherRepositories />
  </main>
  <Footer />
</Layout>
