.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: center;
  padding: 3rem 1rem 4rem;
}

@media (width >= 768px) {
  .containerInner {
    padding: 5rem 1rem;
  }
}

@media (width >= 1024px) {
  .containerInner {
    flex-flow: row;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1024px;
    padding: 12rem 5rem 14rem;
  }
}

@media (width >= 1280px) {
  .containerInner {
    max-width: 1280px;
    padding: 7rem 2rem 12rem;
  }
}

@media (width >= 1536px) {
  .containerInner {
    max-width: 1536px;
    padding: 9rem 4rem 16rem;
  }
}

.main {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  text-align: center;
}

@media (width >= 1024px) {
  .main {
    flex: 1;
  }
}

.mainTitle {
  color: rgb(var(--gray-100));
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1.2;
}

@media (width >= 768px) {
  .mainTitle {
    font-size: 3rem;
  }
}

.mainTitleDecoration {
  display: inline-flex;
  gap: 0.5rem;
  height: 1.75rem;
  margin: 0 0.25rem 0 0;
  vertical-align: middle;
}

.mainTitleDecoration::before {
  background: rgb(var(--rose-500));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainTitleDecoration::after {
  background: rgb(var(--rose-500));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainDescription {
  line-height: 1.85;
}

.mainLink {
  align-self: center;
  background: rgb(var(--rose-500) / 90%);
  border-radius: 0.5rem;
  box-shadow: 0 14px 32px -12px rgb(var(--rose-500) / 50%);
  color: rgb(var(--gray-100));
  font-weight: bold;
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  position: relative;
}

@media (width >= 768px) {
  .screenshotContainer {
    margin: 0 8rem;
  }
}

@media (width >= 1024px) {
  .screenshotContainer {
    flex: 1;
    margin: 0 2rem;
  }
}

.screenshotSm,
.screenshot {
  background: rgb(var(--gray-700));
  border: 1px solid rgb(var(--gray-400) / 20%);
  border-radius: 0.25rem;
}

.screenshotSm {
  bottom: -5%;
  left: -5%;
  position: absolute;
  width: 25%;
}
