.technology-stack {
  background: linear-gradient(to bottom, rgb(var(--gray-800)), rgb(var(--gray-900)));
  padding: 6rem 0;
}

.technology-stack .container {
  margin: 0 auto;
  max-width: 768px;
}

@media (min-width: 1024px) {
  .technology-stack .container {
    max-width: 1024px;
  }
}

.technology-stack .header {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  text-align: center;
}

.technology-stack .header .title {
  color: rgb(var(--gray-100));
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.75rem;
  margin-bottom: 2rem;
}

.technology-stack .header .description {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .technology-stack .header .description {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .technology-stack .header .description {
    padding: 0 8rem;
  }
}

.technology-stack .separator {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.technology-stack .separator .icon {
  height: 1.75rem;
  width: 1.75rem;
}

.technology-stack .main {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .technology-stack .main {
    gap: 4rem 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 4rem;
  }
}

.technology-stack .main .title {
  color: rgb(var(--gray-100));
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 1.25rem;
}

.technology-stack .main .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .technology-stack .main .tags {
    margin-bottom: 0;
  }
}

.technology-stack .main .tag {
  background: rgb(var(--purple-400) / 10%);
  border: 1px solid rgb(var(--purple-400) / 20%);
  border-radius: 9999px;
  color: rgb(var(--purple-400));
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.4rem 1rem;
}

.technology-stack .footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
}

.technology-stack .footer .description {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .technology-stack .footer .description {
    padding: 0 4rem;
  }
}

@media (min-width: 1024px) {
  .technology-stack .footer .description {
    padding: 0 4rem;
  }
}

.technology-stack .footer .links {
  display: flex;
  gap: 1rem;
}

.technology-stack .footer .link {
  align-items: center;
  background: rgb(var(--gray-400) / 10%);
  border: 2px solid rgb(var(--gray-400) / 80%);
  border-radius: 0.5rem;
  box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
  color: rgb(var(--gray-100));
  column-gap: 0.3rem;
  display: inline-flex;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.technology-stack .footer .link:active {
  background: rgb(var(--gray-400) / 15%);
}

@media (hover: hover) and (pointer: fine) {
  .technology-stack .footer .link:hover {
    background: rgb(var(--gray-400) / 15%);
  }
}

.technology-stack .footer .link .icon {
  height: 1.25rem;
  width: 1.25rem;
}
