@charset "utf-8";

@import url("./licenses.css");
@import url("the-new-css-reset");

html {
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: inherit;
}

button {
  cursor: pointer;
}

img {
  height: auto;
  vertical-align: middle;
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  background: none;
  border: none;
  max-height: none;
  max-width: none;
  overflow: visible;
  padding: 0;
}

:focus {
  outline: revert;
}
