@charset "utf-8";

@import url("./licenses.css");
@import url("the-new-css-reset");

html {
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: inherit;
}

button {
  cursor: pointer;
}

img {
  height: auto;
  vertical-align: middle;
}

html:has(dialog[open]) {
  opacity: 0.95;
  overflow: hidden;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

:focus {
  outline: revert;
}
