.repositories {
  background: linear-gradient(to bottom, rgb(var(--gray-800)), rgb(var(--gray-900)));
  padding: 6rem 0;
}

.repositories .container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

.repositories .header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.repositories .header .title {
  color: rgb(var(--gray-100));
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.repositories .header .description {
  margin-bottom: 3rem;
}

@media (min-width: 764px) {
  .repositories .header .description {
    padding: 0 5rem;
  }
}

@media (min-width: 1024px) {
  .repositories .header .description {
    padding: 0 10rem;
  }
}

.repositories .separator {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.repositories .separator .icon {
  height: 1.75rem;
  width: 1.75rem;
}

.repositories .main {
  display: grid;
  gap: 3rem 0;
}

@media (min-width: 768px) {
  .repositories .main {
    gap: 4rem 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 2rem;
  }
}

.repositories .main .name {
  color: rgb(var(--gray-100));
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 1.25rem;
}

.repositories .main .link {
  align-items: center;
  column-gap: 0.5rem;
  display: inline-flex;
}

@media (hover: hover) and (pointer: fine) {
  .repositories .main .link:hover {
    color: rgb(var(--sky-500));
  }
}

.repositories .main .link .icon {
  color: rgb(var(--sky-500));
  height: 1rem;
  width: 1rem;
}
