---
import "./_404/styles/base.css";

import { Layout } from "@/layouts/layout";
import { FirstView } from "./_404/sections/first-view";
import styles from "./_404/styles/page.module.css";
---

<Layout title="ページが見つかりませんでした">
  <main class={styles.container}>
    <div class={styles.containerInner}>
      <FirstView />
    </div>
  </main>
</Layout>
