---
import "@/components/not-found/styles/base.css";

import { FirstView } from "@/components/not-found/sections/first-view";
import styles from "@/components/not-found/styles/page.module.css";
import { Layout } from "@/layouts/layout";
---

<Layout title="ページが見つかりませんでした">
  <main class={styles.container}>
    <div class={styles.containerInner}>
      <FirstView />
    </div>
  </main>
</Layout>
