---
import "@/components/home/styles/base.css";

import { FirstView } from "@/components/home/sections/first-view";
import { Footer } from "@/components/home/sections/footer";
import { Header } from "@/components/home/sections/header";
import { OtherRepositories } from "@/components/home/sections/other-repositories";
import { Repositories } from "@/components/home/sections/repositories";
import { Layout } from "@/layouts/layout";
---

<Layout>
  <Header />
  <main>
    <FirstView />
    <Repositories />
    <OtherRepositories />
  </main>
  <Footer />
</Layout>
