---
import "./_home/styles/base.css";

import { Layout } from "@/layouts/layout";
import { FirstView } from "./_home/sections/first-view";
import { Footer } from "./_home/sections/footer";
import { OtherRepositories } from "./_home/sections/other-repositories";
import { Repositories } from "./_home/sections/repositories";
---

<Layout>
  <main>
    <FirstView />
    <Repositories />
    <OtherRepositories />
  </main>
  <Footer />
</Layout>
