---
import { Layout } from "@/layouts/layout";
import { FirstView } from "../sections/first-view";
import { Footer } from "../sections/footer";
import { OtherRepositories } from "../sections/other-repositories";
import { Repositories } from "../sections/repositories";
---

<Layout>
  <main>
    <FirstView />
    <Repositories />
    <OtherRepositories />
  </main>
  <Footer />
</Layout>
