---
import IconCode from "@/icons/icon-code.astro";
import IconGithub from "@/icons/icon-github.astro";
---

<div class="container">
  <article class="container-inner">
    <section class="header">
      <h2 class="header-title">
        Technology<br class="header-title-new-line" aria-hidden="true" />
        Stack
      </h2>
      <p class="header-description">
        PlusArchive
        の技術スタックを紹介します。以下のリストは現在のものであって、時間とともに変化していく可能性があります
      </p>
    </section>
    <div class="separator" role="separator">
      <IconCode class="separator-icon" />
    </div>
    <article class="main">
      <section>
        <h3 class="main-title">Backend</h3>
        <ul class="main-tag-list">
          <li class="main-tag-list-item">PHP</li>
          <li class="main-tag-list-item">Laravel</li>
          <li class="main-tag-list-item">REST API</li>
          <li class="main-tag-list-item">PHPStan</li>
          <li class="main-tag-list-item">Larastan</li>
          <li class="main-tag-list-item">PHP Coding Standards Fixer</li>
        </ul>
      </section>
      <section>
        <h3 class="main-title">Web Frontend</h3>
        <ul class="main-tag-list">
          <li class="main-tag-list-item">TypeScript</li>
          <li class="main-tag-list-item">React</li>
          <li class="main-tag-list-item">Next.js</li>
          <li class="main-tag-list-item">Tailwind CSS</li>
          <li class="main-tag-list-item">React Query</li>
          <li class="main-tag-list-item">React Hook Form</li>
          <li class="main-tag-list-item">yup</li>
          <li class="main-tag-list-item">ESLint</li>
          <li class="main-tag-list-item">Prettier</li>
          <li class="main-tag-list-item">Jest</li>
          <li class="main-tag-list-item">React Testing Library</li>
          <li class="main-tag-list-item">msw</li>
        </ul>
      </section>
      <section>
        <h3 class="main-title">Database</h3>
        <ul class="main-tag-list">
          <li class="main-tag-list-item">MySQL</li>
          <li class="main-tag-list-item">SQLite</li>
        </ul>
      </section>
      <section>
        <h3 class="main-title">Others</h3>
        <ul class="main-tag-list">
          <li class="main-tag-list-item">Sakura VPS</li>
          <li class="main-tag-list-item">Nginx</li>
          <li class="main-tag-list-item">Deployer</li>
        </ul>
      </section>
    </article>
    <section class="footer">
      <p class="footer-description">
        PlusArchive のコードはオープンソースとして GitHub
        で管理しています。より詳しい内容については以下のリンクから見ることができます
      </p>
      <div class="footer-link-list">
        <a
          href="https://github.com/jamband/api.plusarchive.com"
          class="footer-link-list-item"
          target="_blank"
          rel="noreferrer"><IconGithub class="footer-link-icon" />Backend</a
        >
        <a
          href="https://github.com/jamband/plusarchive.com"
          class="footer-link-list-item"
          target="_blank"
          rel="noreferrer"
          ><IconGithub class="footer-link-icon" />Web Frontend</a
        >
      </div>
    </section>
  </article>
</div>

<style>
  .container {
    background: linear-gradient(
      to bottom,
      rgb(var(--gray-800)),
      rgb(var(--gray-900))
    );
  }

  .container-inner {
    padding: 6rem 1rem;
  }

  @media (width >= 768px) {
    .container-inner {
      margin: 0 auto;
      max-width: 768px;
    }
  }

  @media (width >= 1024px) {
    .container-inner {
      max-width: 1024px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .header-title {
    color: rgb(var(--gray-100));
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }

  @media (width >= 768px) {
    .header-title-new-line {
      display: none;
    }
  }

  .header-description {
    line-height: 1.85;
  }

  @media (width >= 768px) {
    .header-description {
      padding: 0 2rem;
    }
  }

  @media (width >= 1024px) {
    .header-description {
      padding: 0 8rem;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .separator-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  .main {
    display: grid;
    gap: 4rem;
    margin-top: 3rem;
  }

  @media (width >= 768px) {
    .main {
      gap: 4rem 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .main-title {
    color: rgb(var(--gray-100));
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .main-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.75rem;
    margin-top: 1rem;
  }

  .main-tag-list-item {
    background: rgb(var(--gray-400) / 10%);
    border: 1px solid rgb(var(--gray-400) / 20%);
    border-radius: 9999px;
    color: rgb(var(--gray-100));
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.4rem 1rem;
  }

  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto 0;
    max-width: 768px;
    text-align: center;
  }

  .footer-description {
    line-height: 1.85;
  }

  @media (width >= 768px) {
    .footer-description {
      padding: 0 4rem;
    }
  }

  .footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  @media (width >= 768px) {
    .footer-link-list {
      flex-direction: row;
    }
  }

  .footer-link-list-item {
    align-items: center;
    background: rgba(var(--gray-400) / 10%);
    border: 2px solid rgba(var(--gray-400) / 80%);
    border-radius: 0.5rem;
    box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
    color: rgb(var(--gray-100));
    display: inline-flex;
    font-weight: bold;
    gap: 0.3rem;
    justify-content: center;
    padding: 0.75rem 1.25rem;
  }

  .footer-link-list-item:active {
    background: rgb(var(--gray-400) / 15%);
  }

  @media (hover: hover) and (pointer: fine) {
    .footer-link-list-item:hover {
      background: rgb(var(--gray-400) / 15%);
    }
  }

  .footer-link-icon {
    height: 1.25rem;
    width: 1.25rem;
  }
</style>
