---
import Layout from "@/layouts/layout.astro";
import { FirstView } from "../sections/first-view";
import { Header } from "../sections/header";
import { TechnologyStack } from "../sections/technology-stack";
import { Timeline } from "../sections/timeline";
---

<Layout title="PlusArchive">
  <Header />
  <main>
    <FirstView />
    <TechnologyStack />
    <Timeline />
  </main>
</Layout>
