.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 768px;
  padding: 6rem 1rem 7rem;
  text-align: center;
}

@media (min-width: 768px) {
  .containerInner {
    padding: 16rem 1rem 19rem;
  }
}

@media (min-width: 1280px) {
  .containerInner {
    padding: 18rem 1rem 20rem;
  }
}

.title {
  color: rgb(var(--gray-100));
  font-size: 3rem;
  font-weight: bold;
  gap: 0.5rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.5rem;
  }
}

.titleDecoration {
  display: inline-flex;
  gap: 0.5rem;
  height: 2rem;
  vertical-align: middle;
}

.titleDecoration::before {
  background: rgb(var(--sky-500));
  content: "";
  height: 1.5rem;
  transform: rotate(20deg);
  width: 0.25rem;
}

.titleDecoration::after {
  background: rgb(var(--sky-500));
  content: "";
  height: 1.5rem;
  transform: rotate(20deg);
  width: 0.25rem;
}

.description {
  line-height: 1.85;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .description {
    padding: 0 2rem;
  }
}

.link {
  align-items: center;
  align-self: center;
  background: rgb(var(--sky-500) / 10%);
  border: 1px solid rgb(var(--sky-500) / 20%);
  border-radius: 9999px;
  color: rgb(var(--sky-500));
  display: inline-flex;
  margin-top: 3rem;
  padding: 1rem;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--sky-500) / 20%);
    border: 1px solid rgb(var(--sky-500) / 30%);
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--sky-500) / 20%);
  border: 1px solid rgb(var(--sky-500) / 30%);
}

.linkIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.linkDescription {
  color: rgb(var(--sky-500) / 80%);
  font-size: 0.85rem;
}
