.first-view {
  background: linear-gradient(to bottom, rgb(var(--gray-800)), rgb(var(--gray-900)));
}

.first-view .container {
  display: grid;
  height: 95dvh;
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 0.5rem;
  place-content: center;
  place-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .first-view .container {
    padding: 0 1rem;
    row-gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .first-view .container {
    column-gap: 4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 6rem;
  }
}

.first-view .title {
  color: rgb(var(--gray-100));
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.first-view .description {
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .first-view .description {
    padding: 0 6rem;
  }
}

@media (min-width: 1024px) {
  .first-view .description {
    padding: 0;
  }
}

.first-view .link {
  background: rgb(var(--gray-400) / 10%);
  border: 2px solid rgb(var(--gray-400) / 80%);
  border-radius: 0.125rem;
  box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
  color: rgb(var(--gray-100));
  display: inline-block;
  font-weight: bold;
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
}

.first-view .link:active {
  background: rgb(var(--gray-400) / 15%);
}

@media (hover: hover) and (pointer: fine) {
  .first-view .link:hover {
    background: rgb(var(--gray-400) / 15%);
  }
}

.first-view .screenshots {
  display: flex;
  justify-content: center;
  position: relative;
}

.first-view .screenshots .screenshot,
.first-view .screenshots .screenshot-sm {
  background: rgb(var(--gray-800));
  border: 1px solid rgb(var(--gray-400) / 20%);
  border-radius: 0.25rem;
  height: auto;
  max-width: 64%;
}

@media (min-width: 768px) {
  .first-view .screenshots .screenshot {
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .first-view .screenshots .screenshot {
    max-width: 100%;
  }
}

.first-view .screenshots .screenshot-sm {
  bottom: -4%;
  left: 15%;
  max-width: 22%;
  position: absolute;
}

@media (min-width: 768px) {
  .first-view .screenshots .screenshot-sm {
    bottom: -3%;
    left: 23%;
    max-width: 15%;
  }
}

@media (min-width: 1024px) {
  .first-view .screenshots .screenshot-sm {
    bottom: -3%;
    left: -3%;
    max-width: 28%;
  }
}
