@import url("/src/styles/base.css");

:root {
  /* font family */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace; /* stylelint-disable-line value-keyword-case */

  /* color */
  --gray-100: 236 239 244;
  --gray-400: 183 180 199;
  --gray-700: 36 34 43;
  --gray-800: 19 17 26;
  --gray-900: 2 0 11;
  --purple-400: 192 132 252;
  --purple-500: 168 85 247;

  /* menu */
  --menu-brand-color: 168 85 247;
  --menu-button-color: 236 239 244;
  --menu-button-background: 40 38 47;
  --menu-offcanvas-color: 183 180 199;
  --menu-offcanvas-color-light: 236 239 244;
  --menu-offcanvas-background: 36 34 43;
  --menu-offcanvas-background-light: 50 48 57;
}

body {
  background: rgb(var(--gray-800));
  color: rgb(var(--gray-400));
  font-family: system-ui, Meiryo, Arial, sans-serif;
  font-size: 1.15rem;
}
