---
import "./_styles/base.css";

import { Layout } from "@/layouts/layout";
import { FirstView } from "./_sections/first-view";
import { Footer } from "./_sections/footer";
import { Header } from "./_sections/header";
import { TechnologyStack } from "./_sections/technology-stack";
import { Timeline } from "./_sections/timeline";
---

<Layout title="PlusArchive">
  <Header />
  <main>
    <FirstView />
    <TechnologyStack />
    <Timeline />
  </main>
  <Footer />
</Layout>
