.container {
  background: rgb(var(--gray-800));
}

.containerInner {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  justify-content: center;
  padding: 2rem 1rem 3rem;
}

@media (width >= 48rem) {
  .containerInner {
    padding: 3rem 1rem 6rem;
  }
}

@media (width >= 64rem) {
  .containerInner {
    flex-flow: row;
    margin: 0 auto;
    max-width: 68.5rem;
    padding: 6rem 1rem 11rem;
  }
}

@media (width >= 96rem) {
  .containerInner {
    gap: 5rem;
    max-width: 81rem;
    padding: 7rem 1rem 16rem;
  }
}

.main {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  text-align: center;
}

@media (width >= 64rem) {
  .main {
    flex: 1;
  }
}

.mainTitle {
  color: rgb(var(--gray-100));
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1.2;
}

.mainTitleDecoration {
  display: inline-flex;
  gap: 0.5rem;
  height: 1.75rem;
  margin: 0 0.25rem 0 0;
  vertical-align: middle;
}

.mainTitleDecoration::before {
  background: rgb(var(--pink-300));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainTitleDecoration::after {
  background: rgb(var(--pink-300));
  content: "";
  height: 1.5rem;
  rotate: 20deg;
  width: 0.25rem;
}

.mainDescription {
  line-height: 1.85;
}

.mainLink {
  align-self: center;
  background: rgb(var(--gray-400) / 10%);
  border: 2px solid rgb(var(--gray-400) / 80%);
  border-radius: 0.25rem;
  box-shadow: 0 14px 32px -12px rgb(var(--gray-400) / 20%);
  color: rgb(var(--gray-100));
  display: inline-block;
  font-weight: bold;
  margin: 1.25rem 0 0;
  padding: 0.75rem 1.25rem;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-400) / 15%);
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-400) / 15%);
}

.screenshotContainer {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  position: relative;
}

@media (width >= 48rem) {
  .screenshotContainer {
    margin: 0 12rem;
  }
}

@media (width >= 64rem) {
  .screenshotContainer {
    flex: 1;
    margin: 0 5rem;
  }
}

.screenshotSm,
.screenshot {
  background: rgb(var(--gray-800));
  border: 1px solid rgb(var(--gray-400) / 20%);
  border-radius: 0.25rem;
}

.screenshotSm {
  bottom: -5%;
  left: -5%;
  position: absolute;
  width: 25%;
}
