<div class="container">
  <h1 class="title">Not Found</h1>
  <p class="description">
    このページはすでに削除されているか、もしくはページが存在しません
  </p>
  <svg
    class="separator"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 640 512"
    fill="currentColor"
    role="separator"
  >
    <path
      d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
    ></path>
  </svg>
  <a class="link" href="/about/">
    <svg
      class="link-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      fill="currentColor"
      class="icon"
      role="img"
      aria-hidden="true"
    >
      <path
        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
      ></path>
    </svg>
    トップページに戻る</a
  >
</div>

<style>
  .container {
    display: grid;
    height: 100dvh;
    place-content: center;
    place-items: center;
    text-align: center;
  }

  .title {
    color: rgb(var(--gray-100));
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 2rem;
  }

  .separator {
    height: 1.75rem;
    margin-bottom: 2.5rem;
    width: 1.75rem;
  }

  .link {
    align-items: center;
    background: rgb(var(--sky-500) / 10%);
    border: 1px solid rgb(var(--sky-500) / 20%);
    border-radius: 0.5rem;
    box-shadow: 0 14px 32px -12px rgb(0 153 255 / 20%);
    color: rgb(var(--sky-500));
    column-gap: 0.5rem;
    display: inline-flex;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
  }

  .link:active {
    background: rgb(var(--sky-500) / 20%);
    border: 1px solid rgb(var(--sky-500) / 30%);
  }

  @media (hover: hover) and (pointer: fine) {
    .link:hover {
      background: rgb(var(--sky-500) / 20%);
      border: 1px solid rgb(var(--sky-500) / 30%);
    }
  }

  .link-icon {
    height: 1rem;
    width: 1rem;
  }
</style>
